* {
    padding: 0;
    margin: 0;
    border: 0;
}
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

input,
button,
textarea {
    font-family: inherit;
}
address {
    font-style: normal;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

  /* ------------------------------------------- */

img {
    display: block;
}
/* ------------------------------------------------------HEADER */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 60px 20px 60px;
}

.logo {
    width: 260px;
    height: 36px;
}

.nav__item_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 380px;
    
}

.nav__item-link {
    cursor: pointer;
}

.nav__item_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.nav__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 21px;
    border: 1px solid gray;
    cursor: pointer;
    margin-right: 10px;
    padding: 14px 0 7px;
    font-size: 14px;
    font-weight: medium;
}

.nav__item-btnlog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 21px;
    border: 1px solid gray;
    cursor: pointer;
    margin-right: 10px;
    padding: 14px 0 7px;
    font-size: 14px;
    font-weight: medium;
}

.nav__item-btn:hover, .nav__item-btnlog:hover {
    background-color: #4CB649;
}

.main {
    flex: 1 1 auto;
}
.main__contaiter {
    max-width: 1200px;
    margin: 0 auto;
}

/* ----------------------------------------MAIN */
.main__container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.hero__container {
    display: flex;
    margin-bottom: 30px;
}

.hero__title {
    padding: 60px;
    border: 1px solid #889099;
}

.hero__text {
    margin-bottom: 87px;
    font-size: 24px;
    font-weight: lighter;
}

.link__item {
    padding-right: 3px;
    color: #4CB649;
    text-transform: uppercase;
    font-size: 12px;
}
.title__links, .title__name, .title__comments,.recent__comments {
    display: flex;
    margin-bottom: 13px;
}

.comment__counter, .comment__counter, .title__data, .recent__data {
    color: #889099;
    padding-left: 5px;
}
.filter__link {
    color: #4CB649;
}
.filter__tags {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    margin-bottom: 40px;
    padding: 0 32px;
}

.filter__items, .nav__items {
    display: flex;
}

.filter__item, .filter__link, .nav__item_link {
    font-size: 14px;
    font-weight: medium;
    text-transform: uppercase;
}
.filter__item, .nav__item_link {
    margin-right: 40px;
}
/* -----------------------------------------RECENT */
.recent__container {
    position: relative;
}


.recent__container-items {
    position: relative;
    width: 780px;
}

.recent__container-items::after {
    content: "";
    display: block;
    width: 679px;
    height: 1px;
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    background-color: #EBECED;
}

/* .recent__item::after {
    content: "";
    display: block;
    width: 1px;
    height: 95%;
    position: absolute;
    bottom: 94%;
    margin: 0 auto;
    background-color: #EBECED;
    translate: ;
} */
.recent__container::after {
    content: "";
    display: block;
    width: 1px;
    height: 95%;
    position: absolute;
    left: 94%;
    margin: 0 auto;
    background-color: #EBECED;
}



.recent__main {
    display: flex;
    margin-bottom: 73px;
}

.recent__title {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.recent__container {
    width: 780px;
    display: flex;
    flex-direction: column;
}

.recent__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
}

.recent__text {
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.recent__name {
    display: flex;
}
.recent__block {
    padding-left: 40px;
}
.recent__name, .recent__links{
    margin-bottom: 12px;
}

.recent__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 40px;
    border-radius: 21px;
    border: 1px solid #4CB649;
    cursor: pointer;
    margin: 0 auto;
    padding: 14px 0 7px;
    font-size: 14px;
    font-weight: medium;
    text-transform: uppercase;
    background-color: #fff;
    color: #4CB649;
}

.recent__search-container {
    width: 400px;
}
.input__search {
    display: flex;
    align-items: center;
    width: 340px;
    height: 59px;
    border: 1px solid #D7D8D9;
    margin-bottom: 31.5px;
}

.search__icon {
    margin: 0 20px;
}
.recent__announcements {
    margin-bottom: 32px;
}
.announcements__title {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.announcements__list {
    list-style-type: none;
}

.announcements__list-item {
    margin-bottom: 19px;
}

.announcements__list-item::before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4CB649; 
    content: "•";
    padding-right: 7px; 
}

.announcements__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.announcements__title img {
    width: 60px;
    height: 60px;
}

.recent__ad {
    margin-bottom: 52px;
}

.tag__posts {
    display: flex;
    flex-direction: column;

}

.tag__title {
    font-size: 24px;
    margin-bottom: 16px;
}

.tag__text {
    width: 324px;
    text-align: left;
    height: 309px;
    font-size: 24px;
    font-weight: 100;
}


/* --------------------------PAY BLOCK */

.pay__container {
    width: 1600px;
    height: 800px;
    background-color: #3D4251;
}

.pay__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paycard__container {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
}
.pay__title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 60px;
}

.paycard__items {
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: #fff;
    margin-right: 20px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 0.7s;
}

.paycard__items:hover {
    transform:scale(1.3);
    z-index: 2;
}

.paycard__items {
    border-radius: 10px;
}
.paycard__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paycard__title_title {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 51px 0 26px;
}
.paycard__title__money {
    font-size: 56px;
    margin-right: 4px;
}
.paycard__title__curency, .paycard__title__month {
    font-size: 24px;
    margin-right: 7px;
}
.paycard__title_sale {
    margin-bottom: 31px;
}
.paycard__title {
    margin-bottom: 10px;
}

.paycard__title_title:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #4CB649;
    margin-top: 8px;
}

.after__container::after{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: #889099;
    margin: 0 auto;
    margin-bottom: 29px;
}

.paycard__title_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 40px;
    border-radius: 21px;
    border: 1px solid #4CB649;
    cursor: pointer;
    margin: 0 auto;
    padding: 14px 0 7px;
    font-size: 14px;
    font-weight: medium;
    text-transform: uppercase;
    background-color: #fff;
    color: #4CB649;
    margin-bottom: 40px;
}

.paycard__title_sale {
    margin-bottom: 31px;
    text-align: center;
}

.paycard__title_button:hover {
    background-color: #4CB649;
    color: #fff;  
}

.paymethods__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 916px;
    margin-bottom: 8px;
}

.paylinks__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
}

.paylinks_items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

.paylinks__item {
    text-transform: uppercase;
}

/* .paylinks__row {
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.paylinks__row::after,
.paylinks__row::before {
    content: "";
    position: absolute;
    
}
.paylinks__row::before {
    width: 30px;
    height: 1px;
    background-color: #4CB649;
    top: 9px;
}

.paylinks__row::after {
    width: 15px;
    height: 15px;
}

.paylinks__row::after {
    border-top: 1px solid #4CB649;
    border-right: 1px solid #4CB649;
    transform: rotate(45deg);
    top: 2px;
    right: 2px;
} */


/* --------------------------FOOTER@ */

.footer__container { 
    margin: 0 auto;
    padding-bottom: 90px;
}
.footer__header {
    margin-top: 72px;
    margin-left: 200px;
    margin-bottom: 73px;
}
.footer__blocks {
    display: flex;
}
.left__item, .right__item {
    width: 800px;

}

.left__item {
    display: flex;
    margin-left: 200px;
}

.right__item {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 200px;
}

.footer__title-text {
    font-size: 14;
    font-weight: bold;
    color: #000;
    margin-bottom: 18px;
}

.item__text,
.programs__item,
.learn-more__item,
.legal__item,
.about__text,
.google__text {
    font-size: 12px;
    font-weight: 100;
    color: #889099;
    margin: 15px 0;
}

.block__item-company {
    margin-right: 46px;
}
.block__item-group {
    margin-right: 88px;
}

.bloks__items-group {
    margin-bottom: 40px;
}

.about__icons {
    display: flex;
    height: 30px;
}

.about__icons img {
    height: 30px;
    margin-right: 31px;
}

.right__items-google {
    margin-bottom: 30px;
}